{% extends 'starter.html' %}

{% block content %}
{% load static %}

	<div id="registerBack">
		<article style="margin-left:36vw;padding-top:2.5vw;"><strong class="judulDiv">Register Here</strong></article>
		<form style="margin-left:5vw;margin-right:5vw;">
			<div class="form-group">
		    	<label for="name" class="text">Name</label>
		    	<input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Name">
		 	</div>
		 	<div class="form-group">
		    	<label for="bornDate" class="text">Born Date</label>
		    	<input type="date" class="form-control" id="bornDate" aria-describedby="dateHelp" placeholder="Enter Date">
		 	</div>
		 	<div class="form-group">
		    	<label for="email" class="text">Email Address</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		    </div>
		 	<div class="form-group">
		    	<label for="username" class="text">Username</label>
		    	<input type="text" class="form-control" id="username" placeholder="Enter Username">
		  	</div>
		  	<div class="form-group">
					<label for="Password" class="text">Password</label>
					<input type="password" class="form-control" id="Password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="PasswordConf" class="text">Password Confirmation</label>
					<input type="password" class="form-control" id="PasswordConf" placeholder="Password">
				</div>
				<a href="javascript:history.go(-1);" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" style="box-shadow:2px 2px 2px grey;font-size:1.5vw;">Submit</a>
		</form>
	</div>
{% endblock %}
