{% extends 'starter.html' %}

{% block content %}
{% load static %}

	<div class = "foto">
		<article><br></article>
		<div id = "textBoxFoto">
			<article class="text" style="font-size:3.2vw;margin-left:8vw;color:#683B12">
				A Journey<br>From Someone<br><br>&emsp;&emsp;Whose Life<br>&emsp;&emsp;In The Middle Of<br>&emsp;&emsp;The Universe
			</article>
		</div>
		<br><br><br><br>
	</div>
	<hr class = "garis">


	<div class = "bot-nav">
		<div class="text bot-nav1"> 
			<article>
				<center>
					<strong style="font-size:2vw">
						Hai, I’m Yama
					</strong>
					<br>I’m a Programmer whose love art, perfectionist, and you<br><a href="profil/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" style="margin:1vw;box-shadow:2px 2px 2px grey;font-size:1.2vw">Learn more</a>
				</center>
			</article>
		</div>

		<div class="text bot-nav2"> 
			<article>
				<center>
					<strong style="font-size:2vw">
						Multi Discipline
					</strong>
					<br>Beside coding, there are organitation, art, and sport too<br><a href="profil/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" style="margin:1vw;box-shadow:2px 2px 2px grey;font-size:1.2vw">Learn more</a>
				</center>
			</article>
		</div>

		<div class="text bot-nav3"> 
			<article>
				<center>
					<strong style="font-size:2vw">
						Explorer
					</strong>
					<br>our world is very-very big, but these are my interest<br><a href="profil/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" style="margin:1vw;box-shadow:2px 2px 2px grey;font-size:1.2vw">Learn more</a>
				</center>
			</article>
		</div>

		<div class="text bot-nav4"> 
			<article>
				<center>
					<strong style="font-size:2vw">
						Interested?
					</strong>
					<br>Wanna know more? what you waiting for? Got in touch!<br><a href="register/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" style="margin:1vw;box-shadow:2px 2px 2px grey;font-size:1.2vw">Learn more</a>
				</center>
			</article>
		</div>
	</div>
{% endblock %}
