{% extends 'starter.html' %}



{% block content %}
{% load static %}
<div style="background-color:#FFD089; text-align: center;height: 45vw">
	<br> 
	<h1><strong class="judulDiv">List of Schedule </strong></h1>

	<table class="table">
		{% if Schedules %}
			<thead>
				<th>Date</th>
				<th>Hour</th>
				<th>Activity</th>
				<th>Location</th>
				<th>Category</th>
			</thead>

			<tbody>
				{% for s in Schedules %}
					<tr class = "success">
						<td>{{s.day}} , {{s.date}}</td>
						<td>{{s.hour_min}}</td>
						<td>{{s.activity}}</td>
						<td>{{s.place}}</td>
						<td>{{s.category}}</td>
					</tr>
				{% endfor %}
			</tbody>

		{% else %}
			<h2 class = "text">### Empty ###</h2>
		{% endif %}
	</table>

	<button type="button" class="btn btn-danger" onclick="location.href='{% url 'lab_4:schedule_remove' %}' "> Remove Schedule</button>

</div>

{% endblock %}
