{% extends 'starter.html' %}


{% block content %}
{% load static %}

<div style="background-color:#FFD089; text-align: center">
	<h1><strong class="judulDiv"> Create Schedule Here </strong></h1>
		<section>
			<div class = "my-auto">
				<div>
					<form id='form' method="POST" action="{% url 'lab_4:display' %}" >
						{% csrf_token %}
						{% for field in form %}
						<div class = "form-group">
							<label class = "text"> {{ field.label }} <br> {{field}}
							</label>
						</div>
						{% endfor %}
						<input id="submit" type="submit" class="btn btn-lg btn-primary" value="Create"><br>
					</form>
				</div>
			</div>
		</section>
</div>
{% endblock %}
