{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>My Journey</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/pepew3.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Suravaram" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
	<div class="head">
		<img src=" https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/41984447_2248979878463321_1292254070504947712_n.jpg?_nc_cat=0&oh=9f3e018ad91f8d33c6524fde8e2e0926&oe=5C2CAE40" alt="logo" class="logo">
		<article class="judulHeader">
			FRAMTIDEN
		</article>
		<article class="subJudulHeader">
			Gusti Ngurah Yama Adi Putra's Journey
		</article>
	</div>
	<hr class = "garis">

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand active" href="{% url 'lab_4:mainHome' %}"> <img src="https://vignette.wikia.nocookie.net/lionheart-tactics/images/9/9a/Home.png/revision/latest?cb=20150218040604&format=original" style="width:3vw;"><span class="sr-only">(current)</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<ul class="navbar-nav mr-auto">
				<li class="nav-item">
			  		<a class="nav-link" href="{% url 'lab_4:myProfile' %}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'lab_4:registerHere' %}">Register</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'lab_4:addSchedule' %}">Add Schedule</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" href="{% url 'lab_4:scheduleList' %}">My Schedule</a>
			  	</li>
		  	</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock %}

</body>
</html>

